body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
}

.leaflet-credits-control {
    margin-right: 0 !important;
    margin-bottom: 0 !important;

    height: 23px;
    /* defined in the JavaScript code */
    padding-right: 106px;
    /* defined in the JavaScript code */
    background-image: none;
    /* defined in the JavaScript code */
    background-repeat: no-repeat;
    background-position: 100% 0;
    
    background-color: none;
    opacity: 1;
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;
}
.leaflet-div-icon {
    background:none;
    width: 0px;
    height: 0px;
    border: 0px solid #666;
    text-decoration: none;
}
.leaflet-marker-icon{
    margin-left: 0px;
    margin-top: -125px;
    width: 0px;
    height: 0px;
    text-decoration: none;
    transform: translate3d(0px, -20px, 0px);
    z-index: 320;
}


.leaflet-credits-control{
    height: 40px;
    width: 40px;
}

.leaflet-credits-control a {
    font-size: 8pt;
    color: #333333 !important;
    text-decoration: none;

    text-align: right;

    display: none;
    /* becomes visible on mouse hover, see creditsControl */
}

.leaflet-credits-control a.leaflet-credits-showlink {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

    margin-top: 5px;

    line-height: 15px;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 6px;
}
ul.ks-cboxtags li{
  display: inline;
  border: none;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(255, 255, 255, .9);
    border: 2px solid rgba(139, 139, 139, .3);
    color: #adadad;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}



ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 1px solid #a8a8a8;
    background-color:#ffee7f;
    color: rgb(0, 0, 0);
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #1616c1;
}

