@keyframes pulse {
	0% {
	  transform: scale(0.95);
	  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
  
	70% {
	  transform: scale(1);
	  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}
  
	100% {
	  transform: scale(0.95);
	  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
  }
  
@keyframes grow {
	0% {
	  height: 145px;
	  bottom: 120px;
	}
  
	100% {
	  height: 145px;
	  bottom: 0px;
	}
}
  
  .mark {
	transition: .3s opacity 0s;
	-webkit-transition: .3s opacity 0s;
	font-size: 15px;
	font-weight: bold;
	animation: fadein-full 2s;
	-webkit-animation: fadein-full 1s;
	opacity: 0;
  
	&.open {
	  opacity: 1;
	}
  
	.mark-lines {
	  position: relative;
	  border-left: 2px solid rgb(255, 255, 255);
	  height: 145px;
	  border: 1px solid grey;
	  cursor: move;
	  box-shadow: 0 0 1px 0 black;
	  animation: grow .2s linear;
  
	  &::after {
		display: block;
		position: absolute;
		left: -4px;
		top: 145px;
		background-color: #ffee7f;
		width: 6px;
		height: 6px;
		border-radius: 2px;
		border: 1px solid grey;
		border-radius: 50%;
		box-shadow: 0 0 0 2px black;
		margin: 0px;
		animation: pulse 1s infinite;
		content: "";
	  }
  
	  &::before {
		display: block;
		position: absolute;
		content: ' ';
		left: -10px;
		right: 0;
		width: 20px;
		height: 140px;
	  }
	}
  
	.mark-content {
	  position: absolute;
	  left: 2px;
	  top: 0;
	  cursor: move;
	  white-space: nowrap;
	  color: rgb(0, 0, 0);
	  background-color: rgb(255, 255, 255);
	  border-top-right-radius: 20px;
	  border-bottom-right-radius: 20px;
	  border: 1px solid grey;
	  box-shadow: 0 0 3px 0 black;
  
	  .p-title {
		position: absolute;
		top: -18px;
		left: 0;
		color: #000000;
		text-shadow: 0 0 4px rgb(255, 255, 255);
	  }
	  a {
		color: rgb(0, 0, 0);
	  }
	  span {
		display: inline-block;
		padding: 0 5px 0 0px;
		margin-left: -41px;
		margin-bottom: -11px;
		margin-top: -11px;
	
		big {
		  display: block;
		  font-size: 18px;
		}
	  }
	  .data-values li {
		padding-left: 0px;
		margin: 2px;
		list-style-type: none;
	  
		&:nth-child(2), &:nth-child(3) {
		  border-top: 1px solid rgba(0, 0, 0, 0.2);
		  padding-top: 2px;
		}
		.fa-thermometer-half {
			padding-left: 10px;
		}
		  
		.fa-tint {
			padding-left: 8px;
		}
		  
		.fa-wind {
			padding-left: 4px;
		}
		  
		.fa-snowflake {
			padding-left: 5px;
		}
		  
		.fa-tachometer-alt {
			padding-left: 2px;
		}
		v-r {
			height: 100%;
			width: 1px;
			border-left: 1px solid gray;
		}
	  }
	}
	.mark-link {
		transition: .3s opacity 0s;
		-webkit-transition: .3s opacity 0s;
		cursor: pointer;
		display: block;
		position: absolute;
		font-size: 18px;
		left: -19px;
		width: 28px;
		height: 100%;
		margin-left: -0.7em;
		bottom: 0px;
		background-color: #ffee7f;
		box-shadow: 0 0 4px 0 black;
		cursor: pointer;
		text-align: center;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		cursor: pointer;
		z-index: 99999;
		text-decoration: none;
	
		.icon {
		  position: absolute;
		  left: 45%;
		  top: 45%;
		  transform: translate(-45%, -45%);
		}
	
		&:hover {
		  transition: 0.20s;
		  -webkit-transition: 0.20s;
		  -moz-transition: 0.20s;
		  -ms-transition: 0.20s;
		  -o-transition: 0.20s;
		  background-color: #1616c1;
		  color: white;
		}
		&.p-empty {
			background: none;
			width: 30px;
			min-width: 30px;
			height: 50px;
	  }
	}
  }
  
  .container {
	max-width: 640px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 13px;
	position: absolute;
	top: -9px;
	z-index: 9999;
	width: 150px;
	left: 3%;
  }
  
  @media screen and (max-width: 768px) {
	.container {
	  left: 9%;
	}
  }